.card {
  width: 400px;
  margin: 40px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}
.card-img {
  max-width: 100%;
  border-radius: 5px;
  width: 100%;
  margin-inline: auto;
  height: 200px;
  object-fit: cover;
  margin-block: 10px;
}

.card-name {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-inline: auto;
  line-height: 1.5;
}

h4,
h3 {
  font-weight: 500;
  font-size: 18px;
  color: gray;
  margin-bottom: 10px;
}
.card-name{
    font-weight:500;
    font-size: 24px;
    line-height: 1.5;

}