* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1130px;
  width: 100%;
  margin: 0px auto;
  padding-inline: 15px;
}
body {
  font-family: "Poppins", sans-serif;
}
